<!DOCTYPE html>
<html>
<head>
    <title>mengxi</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/markdown/css/bootstrap-markdown.min.css"/>
</head>
<body>
<div>
    <input name="title" type="text" placeholder="Title" id="title"/>
    <input name="wall" type="text" placeholder="imgurl" id="wall" />
    <textarea name="content" id="markdown_content" data-provide="markdown" rows="10"></textarea>
    <label class="checkbox">
        <input name="publish" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn" id="save">Submit</button>
</div>
<ul id="articles">
    <% articles.forEach(function(item){ %>
    <li rel="<%= item._id %>"><%= item.title %></li>
    <% }) %>
</ul>
<div id="modify">
    <input name="title" type="text" placeholder="Title"  rel=""/>
    <input name="wall" type="text" placeholder="imgurl" />
    <textarea name="content" data-provide="markdown" rows="10"></textarea>
    <label class="checkbox">
        <input name="published" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn" id="modifyBtn">Submit</button>
</div>
</body>
<style>
    #modify{display:none}
</style>
</html>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/markdown.js"></script>
<script src="/javascripts/to-markdown.js"></script>
<script>
    $("#markdown_content").markdown({autofocus: true, savable: false});
    $('#save').click(function(){
        $.ajax({url:'/api/article/save',type:'POST', data:{title:$('#title').val(), content:$('#markdown_content').val(),wall:$('#wall').val(), publish: $('input[name=publish]').is(':checked')},
        success:function(data){
            alert(data.status);
        }})
    });
    $(function(){
        $('#articles li').click(function(){
            $('#modify').show();
            var id = $(this).attr('rel');
            $('#modify input[name=title]').attr('rel',id);
            $.ajax({url:'/api/article/one/'+id,type:'get',success:function(data){
                $('#modify input[name=title]').val(data.data.title);
                $('#modify input[name=wall]').val(data.data.wall);
                $('#modify textarea[name=content]').val(data.data.content);
                $('#modify input[name=published]').attr('checked',data.data.publish);
            }});
        });
        $('#modifyBtn').click(function(){
            var field = {
                title:$('#modify input[name=title]').val(),
                wall:$('#modify input[name=wall]').val(),
                content:$('#modify textarea[name=content]').val(),
                publish:$('input[name=published]').is(':checked')
            };
            $.ajax({url:'/api/article/modify/'+$('#modify input[name=title]').attr('rel'),type:'POST',data:field,success:function(data){
                alert(data);
            }});
        });
    })
</script>
