<!DOCTYPE html>
<html>
<head>
    <title>mengxi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/masonry.min.js" type="text/javascript"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div id="menu">
    <h2>about me</h2>
    <h4>ZM. Mengxi</h4>

    <p>I'm a photographer</p>

    <p>also a web engineer</p>

    <p>contact me with email</p>

    <p>iloveloony@gmail.com</p>
</div>
<div id="wrap">
    <header>
        <div class="topMenu">
            <a id="openMenu"><i class="fa fa-bars"></i></a>
        </div>
        <div class="title">
            <h1>welcome</h1>

            <p>this is mengxi's hello world III</p>
        </div>
        <div id="background" style="background-image:url('<%= img %>');">

        </div>
    </header>
    <div class="main">
        <ul id="articles">
            <!--<li>-->
                <!--<h3>this is a test for everything</h3>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h3>this is a test for everything</h3>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h3>this is a test for everything</h3>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h3>this is a test for everything</h3>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<div id="mask">

</div>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe0fa54b3bdaf65cc3bec628bb6e82c06' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>

<script src="/javascripts/markdown.js"></script>
<script src="/javascripts/to-markdown.js"></script>
<script>
    var msnry = new Masonry(document.getElementById('articles'), {
        itemSelector: 'li',
        gutter: 10
    });
    msnry.bindResize();

    var init = function () {
        var document_width = $('body').width();
        $('#articles').width($('.main').width()-20);
        if (document_width > 1200 && document_width < 1500) {
            $('#articles li').width(($('body').width() / 2) - 30 - 15);
//                msnry.columnWidth =($('body').width()/5)-30
        } else if (document_width > 780 && document_width < 1200) {
            $('#articles li').width(($('body').width() ) - 30 - 20);
//                msnry.columnWidth =($('body').width()/4)-30
        } else if (document_width > 1500) {
            $('#articles li').width(($('body').width() / 3) - 30 - 15);
//                msnry.columnWidth =($('body').width()/6)-30
        } else {
//                msnry.columnWidth =($('body').width())-30;
            $('#articles li').width(($('body').width()) - 30)
        }
        var resize = setTimeout(function () {
            msnry.layout();
        }, 1000);
    };

    $(function () {
        $('#openMenu').click(function () {
            $('#wrap').toggleClass('menuOpen');
        });
        $(document).scroll(function () {
            $('#background').css('backgroundPosition', '50% ' + (+($(window).scrollTop() / 95) + 50) + '%');
        });
        $.ajax({url: '/api/article/all', type: 'get', success: function (data) {
            data.list.forEach(function (item) {
                var time = new Date(item.time);
                var date = '' + time.getFullYear() + '-' + (+time.getMonth() + 1) + '-' + time.getDate();
                $('#articles').append('<li id="' + item._id + '" style="display:none">\
                        <span class="time">' + date + '</span>\
                <div>' + markdown.toHTML(item.content) + '</div></li>');
                $('#' + item._id).show();
            });
            msnry.reloadItems();
            init();
        }});
//        $('#articles').delegate('li','click', function () {
//            if($('body').width()<= 780) return false;
//            $(this).toggleClass('frontSize');
//            if($(this).hasClass('frontSize')) $(this).width($('#articles').width()-33);
//            if(!$(this).hasClass('frontSize')) init();
//        });
        window.onresize = init;
    })
</script>